* {}

body {}

#board {}

.tile {
    background-color: #E9DF8Bff;
    border: 3px solid white;
    font-family: 'Nosifer', cursive;
    font-size: 80px;
    color: #B20D10ff;
    border-radius: 10px 10px 10px 10px;
}

h1 {}

h2 {}

h3 {}