* {
    background: url("https://wallpapercave.com/wp/wp1942316.jpg")
}

body {
    background-size: auto;
    font-family: 'Nosifer', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #B20D10ff;
    text-align: center;
    align-items: center;

}

#board {
    width: 480px;
    height: 440px;
    margin: 120px auto;
    justify: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tile {
    background-color: #E9DF8Bff;
    border: 3px solid white;
    font-family: 'Nosifer', cursive;
    font-size: 80px;
    color: #B20D10ff;
    border-radius: 10px 10px 10px 10px;
    width: 150px;
    height: 150px;
}


h1 {
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: 100px;
  font-color: #ff0000;
}

h2 {
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: 40px;
  font-color: #a7d129;
}

h3 {
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size:  60px;
  font-color: #5c2A9D;
}
